@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

@font-face {
  font-family: 'Edensor';
  src: url('./font/Edensor-Free.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Pretendard Variable';
}

img{
  width:100%;
}

.pc{
  display: block;
}

.mobile{
  display:none;
}

body{
  position: relative;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.header{
  border-bottom: 1px solid #eeeeee;
  height:8.9648vh;
}

.inner{
  padding:0 9.3750vw;
}

.main_logo{
  display:inline-block;
  width:10.9375vw;
  height:8.9648vh;
  line-height: 8.9648vh;
}

.main_logo img{
  width:100%;
  vertical-align: middle;
  margin-top:1.3874vh;
}

.header .inner{
  display:flex;
  justify-content: space-between;
  padding:0 9.3750vw;
}

.header ul{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 4.6875vw;
width: 28.2813vw;
height: 8.9648vh;
line-height:8.9648vh;
}

.header ul li{
  font-size:18px;
  font-weight:500;
}

.main_left{
  width:65.6250vw;
  padding-left:2.5000vw;
  border-right:1px solid #eee;
  height:calc(106vh);
  padding-bottom: 6.4034vh;
}

.imgwrap{
  position: absolute;
  width: 63.1250vw;
  height: 67.7695vh;
  left: 9.3750vw;
  top: 15.3682vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/2.png) no-repeat;
  background-size: 100% 100%;
  border-radius: 30px;
  padding: 8.6446vh 3.6458vw;
}

.main_title{
  font-family: 'Edensor';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 7.4707vh;
  color:#FFFFFF;
  display:block;
  margin-bottom:2.5613vh;
}

.main_title2{
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 7.4707vh;
  color:#FFFFFF;
}

.kakao{
  position: absolute;
width: 27.1354vw;
height: 21.6649vh;
left: 9.3750vw;
top: 87.6201vh;
background: #212641;
border-radius: 30px;
overflow: hidden;
}

.box_icon{
  width:2.9688vw;
  height:7.7908vh;
  display:block;
  float:right;
}

.box2 .box_title{
  width:7.5104vw
}

.box_title{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #F68D73;
  display:block;
  margin-bottom:1.9210vh;
  float:left;
  width:6.5104vw;
}

.box_content{
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 3.8420vh;
  float:left;
}

.box_icon.sofa_icon{
  width:4.2708vw;
  height:7.7908vh;
}

.box{
  position: absolute;
width: 16.8750vw;
height: 21.6649vh;
left: 37.6563vw;
top: 87.6201vh;
background: #EEEEEE;
border-radius: 30px;
padding:2.1875vw 2.3958vw;
overflow:hidden;
}

.box2{
  left: 55.6771vw;
}

.left_box{
  position: absolute;
width: 13.1250vw;
height: 13.2337vh;
left: 77.5000vw;
top: 15.3682vh;
background: #F3EDE1;
border-radius: 22px;
overflow:hidden;
padding:3.4152vh 1.4583vw;
}

.left_box_title{
  font-weight: 300;
  font-size: 22px;
  line-height: 3.2017vh;
  color: #F68D73;
  float:left;
}

.left_box_icon{
  width:2.6042vw;
  height:6.0832vh;
  float:right;
}

.left_box2_title{
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 3.2017vh;
  color: #FFFFFF;
  float:left;
}

.left_box2_icon{
  width:2.6042vw;
  height:6.4034vh;
  float:right;
}

.left_box2{
  background:#F68D73;
  top: 31.1633vh;
  padding:3.4152vh 1.6927vw;
}

.call{
  position: absolute;
  left: 77.5000vw;
  top: 59.0181vh;
  height:21.5582vh;
  border-bottom:1px solid #eee;
}

.call span,
.service span{
  font-weight: 700;
  font-size:20px;
}

.call p,
.service p{
width: 13.1250vw;
height: 13.6606vh;
font-size: 14px;
line-height: 3.4152vh;
font-weight: 400;
}

.service{
  position:absolute;
  width:13.1250vw;
  left: 77.5000vw;
  top: 88.4739vh;
}



.footer{
  background:#F3EDE1;
  position: absolute;
width: 100%;
height: 30.2028vh;
left: 0px;
top: 115.2615vh;
}

.kakao_icon{
  width: 5.3125vw;
  height: 10.8858vh;
  float:right;
  margin-top:5.3362vh;
  margin-right:2.8125vw;
}

.kakao_text{
  display:inline-block;
  font-size: 30px;
  color: #fff;
  font-weight: 400;
  margin-top:6.5101vh;
  margin-left:2.8125vw;
}

@media all and (max-width:480px){
  .pc{
    display:none !important;
  }
  .mobile{
    display:block !important; 
  }
  .inner{
    padding:0 24px!important;
    height:100%;
  }
  .header{
    height:85px;
  }
  .main_logo{
    width:136px;
    height:37px;
    line-height:85px;
  }
  .main_logo img{
    margin-top:24px;
  }
  .menu_m{
    width: 4px;
    height: 20.12px;
    margin-top:32px;
  }
  .imgWrap_m{
    width: 100%;
    height: 420px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/banner_m.png) no-repeat;
    background-size:100% 100%;
    border-radius: 24px;
    margin-top:34px;
  }
  .kakao_m{
    padding: 28px 31px;
    width: 100%;
    height: 120px;
    background: #212641;
    border-radius: 24px;
    margin-top:24px;
  }
  .kakao_text{
    font-size:22px;
    margin:0;
    float:left;
    width:171px;
  }
  .kakao_icon_m{
    width: 57px;
    height: 57px;
    float:right;
  }

  .box_icon{
    width:30px;
    height:38px;
    display:block;
    float:right;
  }
  
  .box_title{
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    color: #F68D73;
    display:block;
    margin-bottom:10px;
    float:none;
    width:auto;
  }
  
  .box_content{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    float:left;
  }
  
  .box_icon.sofa_icon{
    width:44px;
    height:38px;
  }

  .box_wrap{
    height:103px;
    overflow:hidden;
    margin-top:24px;
    width: 100%;
    display:flex;
    justify-content: space-between;
  }
  .box_m{
    width: 49%;
    height: 103px;
    background: #EEEEEE;
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding:20px;
  }
  .call_m{
    margin-top:80px;
    height:236px;
  }
  .call_m span,
  .service_m span{
    font-size:22px;
    font-weight:700;
    line-height:26px;
  }
  .call_m p,
  .service_m p{
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;  
    color: #7A7A7A;
    margin-top:24px;
    padding-bottom:50px;
    border-bottom:1px solid #EEEEEE;
  }

  .service_m{
    margin-top:50px;
  }
  .footer{
    position:static;
    width: 100%;
    height: 283px;
    background: #F3EDE1;
    flex: none;
    order: 2;
    flex-grow: 0;
  }
}

@media all and (max-width:1800px) and (min-width:1200px){
  .header ul li{
    font-size:14px;
  }
  .kakao_text{
    font-size: 28px;
  }
  .box_title{
    font-size: 16px;
  }
  .box_content{
    font-size: 24px;
  }
  .left_box_title{
    font-size: 19px;
  }

  .left_box_icon,
  .left_box2_icon{
    width:40px;
    height:auto;
  }
  .left_box2_title{
    font-size: 19px;
  }
  .call span, 
  .service span{
    font-size: 18px;
  }
  .call p, 
  .service p{
    font-size: 10px;
  } 
  .kakao_icon{
    width:78px;
    height:auto;
    margin-right:27px;
  }
  .box_icon{
    width:46px;
    height:auto;
  }
  .box_icon.sofa_icon{
    width: 62px;
    height: auto;
  }
}
@media all and (max-width:1199px) and (min-width:770px){
  .header ul{
    gap:4vw;
  }
  .header ul li{
    font-size:11px;
  }
  .kakao_text{
    font-size: 20px;
    margin-top:7.5101vh;
  }
  .kakao_icon{
    width:56px;
    height:auto;
    margin-top: 7.3362vh;
  }
  .box_title{
    font-size: 11px;
    width: auto;
    margin-bottom:0.921vh;
  }
  .box_content{
    font-size: 18px;
    line-height: 37px;
  }
  .box_icon {
    width: 34px;
    margin-top: 16px;
    height:auto;
  }
  .box{
    padding:41px 16px;
  }
  .box_icon.sofa_icon{
    width: 50px;
    height:auto;
  }
  .left_box_title{
    font-size: 18px;
  }
  .left_box_icon {
    width:26px;
    height:auto;
    margin-top: 11px;
  }
  .left_box{
    width:180px;
    padding: 3.4152vh 10px;
  }
  .left_box2_title{
    font-size:18px;
  }
  .left_box2_icon{
    width:32px;
    height:auto;
    margin-top: 8px;
  }
  .call span, .service span {
    font-size: 16px;
  }
  .call p, .service p{
    width:200px;
    font-size: 11px;
  }
}

@media all and (max-width:769px) and (min-width:481px){
  .pc{
    display:none !important;
  }
  .mobile{
    display:block !important; 
  }
  .inner{
    padding:0 24px!important;
    height:100%;
  }
  .header{
    height:85px;
  }
  .main_logo{
    width:136px;
    height:37px;
    line-height:85px;
  }
  .main_logo img{
    margin-top:24px;
  }
  .menu_m{
    width: 4px;
    height: 20.12px;
    margin-top:32px;
  }
  .imgWrap_m{
    width: 100%;
    height: 630px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/banner_m.png) no-repeat;
    background-size:100% 100%;
    border-radius: 37px;
    margin-top:34px;
  }
  .kakao_m{
    padding: 28px 31px;
    width: 100%;
    height: 120px;
    background: #212641;
    border-radius: 24px;
    margin-top:24px;
  }
  .kakao_text{
    font-size:22px;
    margin:0;
    float:left;
    width:171px;
  }
  .kakao_icon_m{
    width: 57px;
    height: 57px;
    float:right;
  }

  .box_icon{
    width:30px;
    height:38px;
    display:block;
    float:right;
  }
  
  .box_title{
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    color: #F68D73;
    display:block;
    margin-bottom:10px;
    float:none;
    width:auto;
  }
  
  .box_content{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    float:left;
  }
  
  .box_icon.sofa_icon{
    width:44px;
    height:38px;
  }

  .box_wrap{
    height:103px;
    overflow:hidden;
    margin-top:24px;
    width: 100%;
    display:flex;
    justify-content: space-between;
  }
  .box_m{
    width: 49%;
    height: 103px;
    background: #EEEEEE;
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding:20px;
  }
  .call_m{
    text-align: center;
    margin-top:80px;
    height:236px;
  }
  .call_m span,
  .service_m span{
    font-size:22px;
    font-weight:700;
    line-height:26px;
  }
  .call_m p,
  .service_m p{
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;  
    color: #7A7A7A;
    margin-top:24px;
    padding-bottom:50px;
    border-bottom:1px solid #EEEEEE;
  }

  .service_m{
    margin-top:50px;
    text-align: center;
  }
  .footer{
    position:static;
    width: 100%;
    height: 283px;
    background: #F3EDE1;
    flex: none;
    order: 2;
    flex-grow: 0;
  }
}
