@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Pretendard Variable';
}

img{
  width:100%;
}

.pc{
  display: block;
}

.mobile{
  display:none;
}

body{
  position: relative;
}

.header{
  border-bottom: 1px solid #eeeeee;
  height:84px;
}

.inner{
  padding:0 180px;
}

.main_logo{
  display:inline-block;
  width:210px;
  height:59px;
  line-height: 84px;
}

.main_logo img{
  width:100%;
  vertical-align: middle;
}

.header .inner{
  display:flex;
  justify-content: space-between;
  padding:0 180px;
}

.header ul{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 90px;
width: 543px;
height: 84px;
line-height:84px;
}

.header ul li{
  font-size:18px;
font-weight:500;
}

.main_left{
  width:1260px;
  padding-left:48px;
  border-right:1px solid #eee;
  height:calc(106vh);
  padding-bottom: 60px;
}

.imgwrap{
  position: absolute;
width: 1212px;
height: 635px;
left: 180px;
top: 144px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/2.png);
background-size: 100%;
border-radius: 30px;
}

.kakao{
  position: absolute;
width: 521px;
height: 203px;
left: 180px;
top: 821px;
background: #212641;
border-radius: 30px;
overflow: hidden;
}

.box{
  position: absolute;
width: 324px;
height: 203px;
left: 723px;
top: 821px;

background: #EEEEEE;
border-radius: 30px;
}

.box2{
  left: 1069px;
}

.left_box{
  position: absolute;
width: 252px;
height: 124px;
left: 1488px;
top: 144px;
background: #ECE4D5;
border-radius: 22px;
}

.left_box2{
  background:#F68D73;
  top: 292px;
}

.call{
  position: absolute;
  left: 1488px;
  top: 553px;
  height:202px;
  border-bottom:1px solid #eee;
}

.call span,
.service span{
  font-weight: 700;
  font-size:20px;
}

.call p,
.service p{
width: 252px;
height: 128px;
font-size: 14px;
line-height: 32px;
font-weight: 400;
}

.service{
  position:absolute;
  width:252px;
  left: 1488px;
  top: 829px;
}



.footer{
  background:#ECE4D5;
  position: absolute;
width: 100%;
height: 283px;
left: 0px;
top: 1080px;
}

.kakao_icon{
  width: 102px;
  height: 102px;
  float:right;
  margin-top:50px;
  margin-right:54px;
}

.kakao_text{
  display:inline-block;
  font-size: 30px;
  color: #fff;
  font-weight: 400;
  margin-top:61px;
  margin-left:54px;
}

@media all and (max-width:480px){
  .pc{
    display:none !important;
  }
  .mobile{
    display:block !important; 
  }
  .inner{
    padding:0 24px!important;
    height:100%;
  }
  .header{
    height:85px;
  }
  .main_logo{
    width:136px;
    height:37px;
    line-height:85px;
  }
  .main_logo img{
    margin-top:24px;
  }
  .menu_m{
    width: 4px;
    height: 20.12px;
    margin-top:32px;
  }
  .imgWrap_m{
    width: 342px;
    height: 420px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/banner_m.png);
    background-size:100%;
    border-radius: 24px;
    margin-top:34px;
  }
  .kakao_m{
    padding: 28px 31px;
    width: 342px;
    height: 120px;
    background: #212641;
    border-radius: 24px;
    margin-top:24px;
  }
  .kakao_text{
    font-size:22px;
    margin:0;
    float:left;
    width:171px;
  }
  .kakao_icon_m{
    width: 57px;
    height: 57px;
    float:right;
  }
  .box_wrap{
    height:103px;
    overflow:hidden;
    margin-top:24px;
  }
  .box_m{
    width: 167px;
    height: 103px;
    background: #EEEEEE;
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    float:left;
  }
  .box2_m{
    margin-left:8px;
  }
  .call_m{
    margin-top:80px;
    height:236px;
  }
  .call_m span,
  .service_m span{
    font-size:22px;
    font-weight:700;
    line-height:26px;
  }
  .call_m p,
  .service_m p{
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;  
    color: #7A7A7A;
    margin-top:24px;
    padding-bottom:50px;
    border-bottom:1px solid #EEEEEE;
  }

  .service_m{
    margin-top:50px;
  }
  .footer{
    position:static;
    width: 390px;
    height: 283px;
    background: #ECE4D5;
    flex: none;
    order: 2;
    flex-grow: 0;
  }
}